# Copiar este archivo como .env y completar los valores

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=academia_futbol
DB_USER=postgres
DB_PASSWORD=postgreadmin

# JWT
JWT_SECRET=aqui_voy-aPonerCualquierClave:v
JWT_EXPIRES_IN=7d

# Servidor
PORT=3000
